<app-navbar></app-navbar>
<br><br>
<div class="container-fluid chat-window">
    <!-- Group Chat Bar -->
    <div class="row">
        <div class="col-md-11 text-center text-bold">Group Chat</div>
        <div class="col-md-1 text-center">
            <a><button class="group-chat-cross-button"> X</button></a>
        </div>
    </div>
    <!-- Chat Window -->
    <div class="group-chat-box">
        <div *ngFor="let msg of displayMessages">
            {{msg}}
        </div>

    </div>
    <!-- Chat Footer -->
    <form novalidate [formGroup]="messageForm" (submit)="onSend()">
        <div class="row group-chat-send-box">
            <div class="col-md-2 text-right" id="user-full-name">
                <!-- user full name -->
                {{fullName}}
            </div>
            <div class="col-md-8">
                <input type="text" formControlName="message" class="grou-chat-msg-input"
                    placeholder=" Type your message...">
            </div>
            <div class="col-md-2">
                <button type="submit" class="group-chat-button" [disabled]="!messageForm.valid">Send</button>
                <button type="button" class="group-chat-button" (click)="onRefresh()">Refresh</button>
            </div>
        </div>
    </form>
</div>