<app-navbar></app-navbar>

<div class="container text-center user-detail-container">
    <h4>User Detail</h4>
    <div>
        <table class="form-table">
            <tbody>
                <tr>
                    <td>User ID :</td>
                    <td>{{user.id}}</td>
                </tr>
                <tr>
                    <td>Name :</td>
                    <td>{{user.fullName}}</td>
                </tr>
                <tr>
                    <td>Email :</td>
                    <td>{{user.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>